In [43]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pprintpp as pprint
import requests
import gmaps
import os
import apikey as api_key
import gmaps.datasets
import json
import ipywidgets

In [44]:
hotel_cities_df= pd.read_csv("06-Python-APIs/output_data/weather_response.csv")
hotel_cities_df.head()

,Unnamed: 0,Country,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,NZ,Mataura,-46.1927,168.8643,35.64,95,57,2.17,1601488800
1,1,PG,Lorengau,-2.0226,147.2712,81.70,76,39,5.39,1601488800
2,2,AU,Esperance,-33.8667,121.9000,56.79,81,0,7.45,1601488800
3,3,AR,Ushuaia,-54.8000,-68.3000,33.76,87,88,17.54,1601488800
4,4,UA,Rokytne,51.2796,27.2140,53.55,90,100,9.15,1601488800

In [45]:
g_key = "AIzaSyCQRY-TmfYIztg9E8oNyUjEknsy9e7KHNs"

gmaps.configure(api_key= g_key)

In [46]:
# Parameters
locations = hotel_cities_df[["Latitude", "Longitude"]].astype(float)
humidity = hotel_cities_df["Humidity"].astype(float)

In [47]:
# Weather Criteria
# New dataframe

weather_criteria_df = hotel_cities_df.loc[hotel_cities_df['Max Temp'] < 70, :]
weather_criteria_df = hotel_cities_df.loc[hotel_cities_df['Max Temp'] > 70, :]
weather_criteria_df = hotel_cities_df.loc[hotel_cities_df['Wind Speed'] < 10, :]
weather_criteria_df = hotel_cities_df.loc[hotel_cities_df['Cloudiness'] == 0, :]
weather_criteria_df.dropna()

,Unnamed: 0,Country,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
2,2,AU,Esperance,-33.8667,121.9000,56.79,81,0,7.45,1601488800
7,7,ZA,East London,-33.0153,27.9116,66.06,78,0,14.14,1601488800
10,10,EG,Port Said,31.2565,32.2841,80.98,77,0,12.48,1601488800
12,12,PT,Lata,40.1629,-8.3327,63.14,74,0,6.96,1601488800
13,13,AR,Mercedes,-34.6515,-59.4307,81.37,48,0,6.08,1601488800
...,...,...,...,...,...,...,...,...,...,...
695,695,RU,Kommunisticheskiy,61.6789,64.4819,45.12,89,0,5.14,1601499600
701,701,EG,Damietta,31.4165,31.8133,78.15,76,0,6.08,1601499600
708,708,RU,Solnechnyy,50.7214,136.6319,40.03,85,0,1.66,1601499600
712,712,SN,Saint-Louis,16.3333,-15.0000,101.88,23,0,7.09,1601499600
713,713,IL,Kiryat Gat,31.6100,34.7642,74.93,81,0,1.79,1601499600

In [48]:
len(weather_criteria_df)

74

In [49]:
# Hotel Map
hotel_df = weather_criteria_df[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df = pd.DataFrame(weather_criteria_df)
hotel_df.reset_index(drop=True)
hotel_df

,Unnamed: 0,Country,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date
2,2,AU,Esperance,-33.8667,121.9000,56.79,81,0,7.45,1601488800
7,7,ZA,East London,-33.0153,27.9116,66.06,78,0,14.14,1601488800
10,10,EG,Port Said,31.2565,32.2841,80.98,77,0,12.48,1601488800
12,12,PT,Lata,40.1629,-8.3327,63.14,74,0,6.96,1601488800
13,13,AR,Mercedes,-34.6515,-59.4307,81.37,48,0,6.08,1601488800
...,...,...,...,...,...,...,...,...,...,...
695,695,RU,Kommunisticheskiy,61.6789,64.4819,45.12,89,0,5.14,1601499600
701,701,EG,Damietta,31.4165,31.8133,78.15,76,0,6.08,1601499600
708,708,RU,Solnechnyy,50.7214,136.6319,40.03,85,0,1.66,1601499600
712,712,SN,Saint-Louis,16.3333,-15.0000,101.88,23,0,7.09,1601499600
713,713,IL,Kiryat Gat,31.6100,34.7642,74.93,81,0,1.79,1601499600

In [50]:
# Set parameters to search for a hotel
parameters = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Loop 
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    parameters["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Get Requests
    name_address = requests.get(base_url, params=parameters)
    
    # JSONify
    name_address = name_address.json()
    
    # Store Hotels in Data Frame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing result. Skip.")
hotel_df

Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.
Missing result. Skip.

,Unnamed: 0,Country,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
2,2,AU,Esperance,-33.8667,121.9000,56.79,81,0,7.45,1601488800,Hospitality Esperance
7,7,ZA,East London,-33.0153,27.9116,66.06,78,0,14.14,1601488800,Tu Casa
10,10,EG,Port Said,31.2565,32.2841,80.98,77,0,12.48,1601488800,Aracan Hotel
12,12,PT,Lata,40.1629,-8.3327,63.14,74,0,6.96,1601488800,Casa Maquia
13,13,AR,Mercedes,-34.6515,-59.4307,81.37,48,0,6.08,1601488800,Posada del Inti Centro
...,...,...,...,...,...,...,...,...,...,...,...
695,695,RU,Kommunisticheskiy,61.6789,64.4819,45.12,89,0,5.14,1601499600,NaN
701,701,EG,Damietta,31.4165,31.8133,78.15,76,0,6.08,1601499600,SULIMAN INN
708,708,RU,Solnechnyy,50.7214,136.6319,40.03,85,0,1.66,1601499600,Hotel complex Pastoral
712,712,SN,Saint-Louis,16.3333,-15.0000,101.88,23,0,7.09,1601499600,NaN
713,713,IL,Kiryat Gat,31.6100,34.7642,74.93,81,0,1.79,1601499600,OlusHome

In [51]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [52]:
# Humidity Heatmap
humidity = hotel_df["Humidity"].astype(float)

fig = gmaps.figure(zoom_level=2, center=[0,0])

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig = gmaps.figure(zoom_level=2, center=[0,0])
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info, display_info_box=None)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))